.btn-bl {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.settings mat-form-field {
  width: -webkit-fill-available;
}

:host ::ng-deep {
  // ========================================================
  //                    TEXTAREA
  // ========================================================

  .settings
    mat-form-field.mat-mdc-form-field:not(.mat-form-field-no-animations)
    .mdc-text-field__input {
    height: 300px;
    resize: none;
  }
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--focused
    ):hover
    .mdc-notched-outline
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--focused
    ):hover
    .mdc-notched-outline
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--focused
    ):hover
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-color: rgba(255, 166, 0, 0.664);
  }
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-color: rgba(255, 166, 0, 0.411);
  }

  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: orange;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-text-field__input::placeholder {
    color: rgb(167, 167, 167);
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-text-field__input {
    caret-color: orange;
    color: white;
  }
}
