<header class="header">
  <div class="label"><h1>Dictionary</h1></div>
  <nav class="nav">
    <a routerLink="studying" routerLinkActive="active-link" class="link" href=""
      >Изучение</a
    >
    <a
      routerLink="dictionary"
      routerLinkActive="active-link"
      class="link dictionary"
      matBadge="{{ wordCount }}"
      [matBadgeHidden]="wordCount === 0 ? true : false"
      href=""
      >Словарь
    </a>
    <a
      routerLink="favorites"
      routerLinkActive="active-link"
      class="link favorite"
      href=""
      >Избранные</a
    >
  </nav>
</header>
<main class="main">
  <div class="block-info"><app-informations></app-informations></div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
